<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= @component %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="/<%= @component %>/css/normalize.css">
    <link rel="stylesheet" href="/<%= @component %>/css/main.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <% if @page %>
      <script src="/<%= @component %>/js/<%= @page %>_head.js"></script>
    <% else %>
      <script src="/<%= @component %>/js/head.js"></script>
    <% end %>
  </head>
  <body>
    <%= yield %>

    <script src="/<%= @component %>/js/plugins.js"></script>
    <script src="/<%= @component %>/js/<%= @component %>.js"></script>
    <% if @page %>
      <script src="/<%= @component %>/js/<%= @page %>_foot.js"></script>
    <% else %>
      <script src="/<%= @component %>/js/foot.js"></script>
    <% end %>
  </body>
</html>
